.albums {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.album {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 150px 1fr;
  align-items: center;
  color: #fff;
  font-weight: 300;
}

.album__artwork {
  width: 100%;
}
